.container-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.quiz-wrapper {
  display: flex;
  gap: 3rem;
}

.quiz-container {
  width: 40vw;
  height: 30vh;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.question-title {
  font-family: var(--ui-font);
  font-size: 4dvh;

  color: #1c2635;
}

.answer-module {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 80vw;
  justify-content: center;
  margin: 2rem;
}

.answer-module > .answer {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #5bc1ed;
  border-radius: 5px;

  padding: 0.75rem 1.25rem;
  width: 100%;
  max-width: 260px;
  box-sizing: border-box;

  gap: 0.5rem;
}

.answer-text {
  max-width: 25ch;
  overflow-wrap: break-word;
}

.picked {
  background-color: #5bc1ed;
  color: snow;
}

.control-module {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.control-module > .back-button {
  text-decoration: underline;
  font-weight: bold;
  color: #677487;
}

.control-module > .next-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #c3edff;
  border-radius: 5px;
  height: 5vh;
  width: 7vw;
  background-color: #c3edff;
}
