
.container {
    position: relative;
    width: 100vw;
    height: 100vh;

}


.quiz-portal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-image: url(billboard.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 3vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 15vh;
    left: 31vw;
    display: flex;
    flex-direction: column;
    color: snow;
    font-family: 'Courier New', Courier, monospace;
}

.title-container > h1 {
    font-size: xx-large;
    font-weight: bolder;
    width: 25vw;
    text-align: center;

    margin-bottom: 3vh;
}

.title-container > p {
    font-weight: lighter;
    font-size: medium;
    text-align: center;
    width: 25vw;
    text-decoration: underline;
}

.quiz-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3edff;
    border: 3px solid #c3edff;
    max-width: 30vw;
    width: 15vw;
    height: 4.5vh;
    border-radius: 10px;
    min-width: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.quiz-button:hover {
    background-color: #a8e4ff;
}